<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Facebook</title>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <script src="../scripts/index.js" charset="utf-8"></script>
  </head>
  <body style="margin: 0;">
    
    <header>
      <div id="center">
        <div id="fb-logo">
          <img id="facebook" onclick="switchDisplay()" src="../images/facebook-logo.png" alt="Facebook"/>
          <div id="name" onclick="switchDisplay()" class="white">Hue Vang</div>
        </div>
        <div id="login-form">
          <div class="table">
              <div class="row white">
                  <div class="cell">Email or Phone</div>
                  <div class="cell">Password</div>
              </div>
              <div class="row">
                  <div class="cell"><input /></div>
                  <div class="cell"><input /></div>
                  <div class="cell"><button id="login-btn" class="white">Log In</button></div>
              </div>
              <div class="row">
                  <div class="cell"></div>
                  <div id="fake-link" class="cell lightblue">Forgot account?</div>
              </div>
          </div>
        </div>
      </div>
    </header>

    <main>

    </main>

    <footer>
    </footer>

  </body>
</html>
